* {
    box-sizing: border-box;
}

h1 {
    text-align: center;
}

footer {
    margin-top: 50px;
}

footer p {
    text-align: center;
}

.new-sketch {
    display: block;
    margin: 20px auto;
}

.container {
    width: 500px;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    gap: 1px;
}